@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background:#5995fd;
    color: white;
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
.logo{
    display: flex;
    width: 3%;
    margin-left: -9%;
}

    
    .main video{
      position: absolute;
      width: 100%;
      height: 60%;
      object-fit: cover;
      z-index: -1;
    }

      
      .btn-main{
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      

    
    .patterns {
        height: 100%;
      }
      
      
      
      svg text {
        font-family: Lora;
        letter-spacing: 10px;
        stroke: #5995fd;
        font-size: 100px;
        font-weight: 700;
        stroke-width: 3;
        margin-top: 20%;
        animation: textAnimate 2s infinite alternate;
      
    }
      
    @keyframes textAnimate {
        0% {
          stroke-dasharray: 0 50%;
          stroke-dashoffset:  20%;
          fill:hsl(0, 0%, 0%)
      
        }
        
        100% {
          stroke-dasharray: 50% 0;
          stroke-dashoffstet: -20%;
          fill: hsla(189, 68%, 75%,0%)
        }
        
      }
   .text-h1-home{
     text-align: center;
     margin-top: 13%;
   }